---
import Layout from "../layouts/Layout.astro";

const url = `{import.meta.env.PUBLIC_URL}/guitarras`;
const respuesta = await fetch(url);
const { data } = await respuesta.json();
console.log(data);
---

<Layout
  title="Tienda Virtual"
  description="Página de tienda de instrumentos musicales, blog y más"
>
  <main class="contenedor">
    <h1 class="heading">Nuestra Colección</h1>
    <div class="grid">
      {data?.map((guitarra) => <h1>{guitarra}</h1>)}
    </div>
  </main>
</Layout>

<style></style>
